@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: none;
    font-family: "Nunito Sans", sans-serif;
}


.div_geral{
    margin-top: 8px;
    padding-top: 50px;
    padding-left: 40px;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#lupa-imagem{
    height: 20px;
    width: 20px;
}

.lupa{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.div-input{
    border-radius: 8px;
    border: none;
    width: 400px;
    height: 50px;
    align-items: center;
    display: flex;
    background-color: #fff;
    padding-left: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input{
    border: none;
    width: 350px;
    height: 50px;
    outline: none;
}

.filtro{
    margin-right: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 180px;
    border-radius: 8px;
}

#regiao{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 8px;
}

form{
    border-radius: 8px;
}

option{
    text-align: center;
}

select:active,
select:focus,
select:focus-visible {
    border: none;
    outline: none;
}

.lupa-imagem-branca {
    
    content: url('../../assets/lupa.png');
}

.lupa-imagem-preta {
   content: url('../../assets/lupa.png'); 
}

.modo-escuro .lupa-imagem-branca {
    content: url('../../assets/lupa.png');
    
}

.modo-escuro .lupa-imagem-preta {
    content: url('../../assets/lupa.png');
}

.modo-escuro .div_geral {
    background-color: hsl(207, 26%, 17%);
    color: #fff;
}

.modo-escuro .div-input {
    background-color: hsl(209, 23%, 22%);
    color: #fff;
}

.modo-escuro .input {
    background-color: hsl(209, 23%, 22%);
    color: #fff;
}

.modo-escuro .regiao1 {
    background-color: hsl(209, 23%, 22%);
    color: #fff;
}

.modo-escuro .input::placeholder {
    color: #fff; /* Cor do placeholder no modo escuro */
}

@media (max-width: 699px) {
    .div_geral{
      display: block;
      align-items: center;
    justify-items: center;
    padding: 30px 20% 10px 20%;
    }
    .filtro{
        margin-top: 20px;
      }
  }
  @media (max-width: 520px) {
    .div_geral{
        display: block;
        align-items: center;
        justify-items: center;
        padding: 30px 15% 10px 15%;
    }
    .div-input{
        width: 300px
    }
  }