@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
  font-family: "Nunito Sans", sans-serif;
}

.body{
    background-color: hsl(0, 0%, 98%);
    height: 600px;
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
}

.lista-paises{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px 75px 20px 75px;
  background-color: hsl(0, 0%, 98%);
}

.paises{
  background-color: #fff;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    font-family: "Nunito Sans", sans-serif;
}

.paises:hover{
  transform: translateY(-6px) scale(1.06);
}

img {
  width: 250px;
  height: 150px;

}

.modo-escuro .lista-paises {
  background-color: hsl(207, 26%, 17%);
  color: #fff;
}

.modo-escuro .paises {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}

@media (max-width: 999px) {
  .lista-paises{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas, cada uma com 1 fração da largura */
    gap: 50px; /* Espaçamento entre os países */
    padding: 50px 100px 20px 100px;
    align-items: center;
    justify-items: center;
  }
}
@media (max-width: 699px) {
  .lista-paises{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    padding: 50px 100px 20px 100px;
  }
}
@media (max-width: 520px) {
  .lista-paises{
    padding: 50px 20% 20px 20%;
  }
}